.minecraft-content{
    position: relative;
}

.background-layer {
    position: absolute;
    z-index: 1;
    font-size: large;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    width: 100vw;
    height: 100vh;
    
}

.vine { grid-area: 1 / 1 / 7 / 2; }
.metrics { grid-area: 1 / 2 / 7 / 5; }
.minecraft-name { grid-area: 1 / 5 / 2 / 10; }
.minecraft-version { grid-area: 1 / 10 / 2 / 12; }
.tree-area { grid-area: 2 / 6 / 7 / 12; }
.bee-space{ grid-area: 2 / 5 / 6 / 6; }
.grace{ grid-area: 6 / 5 / 7 / 6;}


.foreground-layer {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 50px;
    background-color: aqua;
    height: 800px;
}






